#btn:hover{
    background-color: white;
    color: black;
    transition: all .5s;
}

#btn{
    width: 10%;
}

#nav-on{
    width: 100%;
}

#title-nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: white;
}

@media(max-width: 575px){
    #btn{
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
}